@model IEnumerable<MMTP_LMS.ViewModels.StudentModuleViewModel>
@{

    ViewData["Title"] = @ViewBag.Course;
}

<div id="todays_header" class="thestyle">

    <span>Modul Lista</span>
    @if (User.IsInRole("Admin") && Model.Count() > 0)
    {
        <form method="get">

            <span class="styled-select">
                <select asp-items="@Model.FirstOrDefault().CourseList" name="course_select"></select>
            </span>
            <span class="btn-course"> <button class="btn-course" type="submit">Select Course</button></span>
        </form>
    }
    else
    {
        <span id="course_name" class="no_new_line">@ViewBag.Course</span>
    }
</div>
<div class="container-fluid">
    <section class="row title-row"></section>
    <section id="activity">

        @foreach (var item in Model)
        {
            <div id="activity_group" class="thestyle">
                <div class="col" id="date_header">
                    Module @Html.DisplayFor(modelItem => item.Id) - @Html.DisplayFor(modelItem => item.Name)

                </div>
                <div class="w-100"></div>
                <div class="col" id="activity_description">
                    <i class="far fa-calendar-alt"></i> Starts: @Html.DisplayFor(modelItem => item.StartDate) Ends: @Html.DisplayFor(modelItem => item.EndDate)
                </div>
                <div class="w-100"></div>
                <div class="col" id="activity_header">
                    @Html.DisplayFor(modelItem => item.Description)
                </div>
                <div class="w-100"></div>
                <div class="col">
                    Related documentation:

                    @foreach (var doc in item.Documents.Where(a => a.IsAdmin))
                    {
                        <ul>

                            <li><i class="far fa-file-alt"> </i><a href="@Html.DisplayFor(modelItem => doc.Url)"> @Html.DisplayFor(modelItem => doc.Name)</a></li>
                        </ul>
                    }
                </div>
            </div>

            <div class="w-100"><div><hr /></div></div>

            <div class="col">
                <a class="btn btn-success activity_btn" data-toggle="collapse" href="#module-@item.Id" role="button" aria-expanded="false" aria-controls="module-@item.Id">Show Activities</a>
                <div class="collapse" id="module-@item.Id">
                    <div class="card card-body">
                        <ul>
                            @foreach (var activity in item.LmsActivities.Where(n=>n.Name != "No Activity"))
                            {
                                @*<li><b><i class="fas fa-bolt"> </i><a class="btn btn-outline-secondary float-right nav_button btn-sm " asp-action="Student" asp-route-id="@activity.StartDate.ToShortDateString()">go</a> Activity type:</b> @Html.DisplayFor(modelItem => activity.Name) <b><i class="far fa-calendar-alt"></i> Time span:</b> @Html.DisplayFor(modelItem => activity.StartDate) - @Html.DisplayFor(modelItem => activity.EndTime) <b><i class="fas fa-pencil-alt"></i> Description: </b> @Html.DisplayFor(modelItem => activity.Description)</li>*@
                                @*<a class="btn btn-outline-secondary float-right nav_button btn-sm " asp-action="Student" name="d" asp-route-id="@activity.StartDate.ToShortDateString()"></a>*@
                                <li class="activity_list">

                                    <a class="btn btn-primary btn-sm" asp-action="Student" asp-route-id="@activity.StartDate.ToShortDateString()"></a>
                                    <b>
                                        <span>@Html.DisplayFor(modelItem => activity.Name)</span>
                                    </b>
                                    <span class="activity_list_date">@Html.DisplayFor(modelItem => activity.StartDate) - @Html.DisplayFor(modelItem => activity.EndTime)</span>

                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>

            <div><hr /></div>
        }
    </section>
    <section>
        <div><hr /></div>
    </section>

</div>
