@using System.Linq
@model IEnumerable<MMTP_LMS.ViewModels.StudentViewModel>

@{
    ViewData["Title"] = "Student" + "";

    var d = ViewBag.datum;
}


<div id="todays_header" class="thestyle">
    <span>@ViewBag.TodayHeader</span>
    
    <span class="no_new_line">
        <a class="btn btn-outline-secondary float-right nav_button btn-sm " asp-action="Student" asp-route-id="@DateTime.Now.AddDays(d+1).ToShortDateString()">
            <img class="nav_button_img" src="~/src/forward-icon.png" />
        </a>
        <a class="btn btn-outline-secondary float-right nav_button btn-sm" asp-action="Student" asp-route-id="@DateTime.Now.AddDays(d-1).ToShortDateString()">
            <img class="nav_button_img" src="~/src/back-icon.png" />
        </a>
    </span>
    <br />
    @if (User.IsInRole("Admin") && Model.Count() > 0  )
    {
            <form method="get">

                <span class="styled-select">
                    <select asp-items="@Model.FirstOrDefault().CourseList" name="course_select"></select>
                </span>
                <span class="btn-course"> <button class="btn-course" type="submit">Select Course</button></span>
            </form>
    }
    else
    {
        <span id="course_name" class="no_new_line">@ViewBag.Course</span>
    }



</div>

   

<div class="container-fluid">
    <section class="row title-row"></section>
    <section id="activity">


        @foreach (var item in Model)
        {
            <div id="activity_group" class="thestyle">
                <div class="col" id="date_header">
                    @if (item.Name != "No Activity")
                    {
                        @Html.DisplayFor(modelItem => item.StartDate)
                        @if (item.AntalDagar != 0)
                        {
                            <span>. Length: </span>
                            @Html.DisplayFor(modelItem => item.AntalDagar)
                            <span> Days </span>
                        }
                        <span>. Type of activity: </span>
                        @Html.DisplayFor(modelItem => item.LmsActivityType.Name)
                    }
                    else
                    {
                        <span> No Activity </span>
                    }

                </div>
                <div class="w-100"></div>
                <div class="col" id="activity_header">
                    @Html.DisplayFor(modelItem => item.Name)
                </div>
                <div class="w-100"></div>
                <div class="col" id="activity_description">
                    @Html.DisplayFor(modelItem => item.Description)
                </div>
                <div class="w-100"></div>
                <div><hr /></div>
                <div class="col">
                    @foreach (var doc in item.Documents.Where(a=>a.IsAdmin))
                    {

                        <a href="@Html.DisplayFor(modelItem => doc.Url)">@Html.DisplayFor(modelItem => doc.Name)</a>

                        <span> | </span>
                    }
                </div>
            </div>
        }
        <div><hr /></div>





    </section>
    <section id="user">
        
        <div>
            <div class="thestyle">
                <form asp-controller="Student" asp-action="UploadFile" method="post"
                      enctype="multipart/form-data">
                    <div class="form-group user_box">
                        <label id="submit_header" for="user_form">Description of document</label>
                        <textarea name="txt" class="form-control" id="user_form" rows="2"></textarea>
                        <label for="user_form">Files to be uploaded</label>
                        <input type="file" name="file" class="form-control-file" id="user_form" required="required">
                        <br />
                        <button type="submit">Upload File</button>
                        <br />
                       
                        <div class="col alert-light uploaded_files">
                            <span><u>Uploaded Files:</u></span><br />
                            @foreach (var item in Model)
                            {
                                @foreach (var doc in item.Documents.Where(u => u.UserName == User.Identity.Name))
                                {
                                    <Span>@doc.Name</Span><br />
                                }
                                return;
                            }

                        </div>





                    </div>
                </form>
            </div>
        </div>
    </section>
    <section>
        <div><hr /></div>
        <div>
           
        </div>
    </section>
</div>

