@model IEnumerable<MMTP_LMS.Models.Course>

    <div id="todays_header" class="thestyle">
        <span>Courses</span>
    </div>
    @*<h2>Courses</h2>*@
    <div class="col" id="activity_description">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StartDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EndDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            <a asp-action="EditCourse" asp-route-id="@item.Id">Edit Course</a>
                        </td>
                        @*<td>
                            <a asp-action="DeleteCourse" asp-route-id="@item.Id">Delete Course</a>
                        </td>*@
                        <td>
                            <a asp-controller="Module" asp-action="CreateModule" asp-route-id="@item.Id">Add Modules</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </div>