@model IEnumerable<MMTP_LMS.Models.Course>

    <div id="todays_header" class="thestyle">
        <span>Courses </span><span class="doc_counter">Number of docummets : @ViewBag.DocCount</span>
    </div>
    
    <div class="col" id="activity_description">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StartDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EndDate)
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>*@
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    @*<td>                      
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>*@
                    <td>
                        <a class="btn btn-success" asp-action="EditCourse" asp-route-id="@item.Id">Edit Course</a>
                    </td>
                    @*<td>
            <a asp-action="DeleteCourse" asp-route-id="@item.Id">Delete Course</a>
        </td>*@
                    <td>
                        <a class="btn btn-success" asp-controller="Module" asp-action="CreateModule" asp-route-id="@item.Id">Add Modules</a>
                    </td>
                    <td>
                        <form asp-controller="Teacher" asp-action="UploadFile" method="post"
                              enctype="multipart/form-data">
                            <input value="@item.Id" type="hidden" name="course_id" class="form-control" id="user_form">
                            <input type="file" name="file" class="form-control-file super_e" id="file" required="required">
                            <button class="upload" type="submit">Upload</button>
                        </form>
                        
                    </td>
                </tr>
                }
            </tbody>
        </table>
        </div>