@model IEnumerable<MMTP_LMS.Models.LmsActivity>

    <div id="todays_header" class="thestyle">
        <span>Activities</span><span class="doc_counter">Number of docummets : @ViewBag.DocCount</span>
    </div>
    
    <div class="col-lg-12" id="activity_description">
       <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StartDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EndTime)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndTime)
                        </td>
                        <td>
                            <a class="btn btn-success" asp-controller="LmsActivities" asp-action="EditLmsactivity" asp-route-id="@item.Id">Edit Activity</a>
                        </td>
                        <td>
                            <form asp-controller="LmsActivities" asp-action="UploadFile" method="post"
                                  enctype="multipart/form-data">
                                <input value="@item.Id" type="hidden" name="activity_id" class="form-control" id="user_form">
                                <input type="file" name="file" class="form-control-file super_e" id="file" required="required">
                                <button class="upload" type="submit">Upload</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
