@model IEnumerable<MMTP_LMS.Models.LmsActivity>

    <div id="todays_header" class="thestyle">
        <span>Activities</span>
    </div>
    
    <div class="col" id="activity_description">
        @*<a asp-action="Create">Create New</a>*@

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.StartDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EndTime)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndTime)
                        </td>

                        <td>
                            <a asp-controller="LmsActivities" asp-action="EditLmsactivity" asp-route-id="@item.Id">Edit Activity</a>
                            @*@Html.ActionLink("LmsActivities", "EditLmsactivity", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
