@model MMTP_LMS.ViewModels.AdminViewModel
@{
    ViewData["Title"] = "Index";
}
<div id="todays_header" class="thestyle">
    <div class="col-sm-6"><h1>System stats !</h1></div>
    <div class="container-fluid">
        <div class="stat row col-sm-12">
            <div class="col-sm-6">
                <span>Number of courses : @ViewBag.CourseCount</span>
            </div>
            <div class="col-sm-6">
                <span>Number of modules : @ViewBag.ModuleCount</span>
            </div>
            <div class="col-sm-6">
                <span>Number of activities : @ViewBag.LmsActivityCount</span>
            </div>
            <div class="col-sm-6">
                <span>Number of documents : @ViewBag.DocCount</span>
            </div>
            <div class="col-sm-6">
                <span>Number of students : @ViewBag.StudentCount</span>
            </div>
        </div>
    </div>
</div>
   
<div id="todays_header" class="thestyle">
    <span>Teachers Owerview</span>
</div>

@*// NAV_Field with acordion lists*@
<div class="container-fluid">
    <div id="createcourse_group" class="thestyle">
        <a class="btn btn-success courseView_btn" data-toggle="collapse" href="#courseView" role="button" aria-expanded="true" aria-controls="courseView">Courses</a>
        <a class="btn btn-success moduleView_btn" data-toggle="collapse" href="#moduleView" role="button" aria-expanded="true" aria-controls="moduleView">Modules</a>
        <a class="btn btn-success activitiesView_btn" data-toggle="collapse" href="#activitiesView" role="button" aria-expanded="true" aria-controls="activitiesView">Activities</a>
        <a class="btn btn-success documentsView_btn" data-toggle="collapse" href="#documentsView" role="button" aria-expanded="true" aria-controls="documentsView">Documents</a>
        <a class="btn btn-success studentsView_btn" data-toggle="collapse" href="#studentsView" role="button" aria-expanded="true" aria-controls="studentsView">Students</a>
        <a class="btn btn-danger" asp-controller="Teacher" asp-action="Teacher">Teachers Wizard !</a>
    </div>
</div>
@*//Lists All Courses*@
<div class="row">
    <div class="col">
        <div class="collapse multi-collapse" id="courseView">
            <div class="card card-body">
                <div id="admin_header" class="thestyle">
                    <h2>Courses</h2>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Courses[0].Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Courses[0].Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Courses[0].StartDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Courses[0].EndDate)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Courses)
                        {
                            <tr>
                                <td class="table-active">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td class="table-active">
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td class="table-active">
                                    @Html.DisplayFor(modelItem => item.StartDate)
                                </td>
                                <td class="table-active">
                                    @Html.DisplayFor(modelItem => item.EndDate)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@*//Lists All Modules*@
<div class="row">
    <div class="col">
        <div class="collapse multi-collapse" id="moduleView">
            <div class="card card-body">
                <div id="admin_header" class="thestyle">
                    <h2>Modules</h2>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Modules[0].Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Modules[0].Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Modules[0].StartDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Modules[0].EndDate)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Modules)
                        {
                            <tr>
                                <td class="table-active">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td class="table-active">
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td class="table-active">
                                    @Html.DisplayFor(modelItem => item.StartDate)
                                </td>
                                <td class="table-active">
                                    @Html.DisplayFor(modelItem => item.EndDate)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@*//Lists All Activities*@
<div class="row">
    <div class="col">
        <div class="collapse multi-collapse" id="activitiesView">
            <div class="card card-body">
                <div id="admin_header" class="thestyle">
                    <h2>Activities</h2>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.LmsActivities[0].Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LmsActivities[0].StartDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LmsActivities[0].EndTime)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LmsActivities[0].Documents)
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model.LmsActivities)
                        {
                            <tr>
                                <td class="table-active">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td class="table-active">
                                    @Html.DisplayFor(modelItem => item.StartDate)
                                </td>
                                <td class="table-active">
                                    @Html.DisplayFor(modelItem => item.EndTime)
                                </td>
                                <td class="table-active">
                                    @Html.DisplayFor(modelItem => item.Documents)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@*//Lists All documents*@
<div class="row">
    <div class="col">
        <div class="collapse multi-collapse" id="documentsView">
            <div class="card card-body">
                <div id="admin_header" class="thestyle">
                    <h2>Documents</h2>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Documents[0].Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Documents[0].Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Documents[0].UserName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Documents[0].TimeStamp)
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model.Documents)
                        {
                            <tr>
                                <td class="table-active">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td class="table-active">
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td class="table-active">
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </td>
                                <td class="table-active">
                                    @Html.DisplayFor(modelItem => item.TimeStamp)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
@*//Lists all Students*@
<div class="row">
    <div class="col">
        <div class="collapse multi-collapse" id="studentsView">
            <div class="card card-body">
                <div id="admin_header" class="thestyle">
                    <h2>Students</h2>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Students[0].UserName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Students[0].FirstName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Students[0].LastName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Students[0].Course)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Students.Where(u => u.UserName.ToLower() != "admin@admin.com"))
                        {
                            <tr>
                                <td class="table-active">
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </td>
                                <td class="table-active">
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </td>
                                <td class="table-active">
                                    @Html.DisplayFor(modelItem => item.LastName)
                                </td>
                                <td class="table-active">
                                    @Html.DisplayFor(modelItem => item.Course.Name)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
