@model MMTP_LMS.ViewModels.AdminViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Admin startsida</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Courses[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses[0].EndDate)
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.Courses)
        {
        <tr>
            <td class="table-active">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="table-active">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td class="table-active">
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td class="table-active">
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
        </tr>
        }
    </tbody>

</table>


