@model MMTP_LMS.ViewModels.AdminViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Admin startsida</h1>


<h2>Courses</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Courses[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses[0].EndDate)
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.Courses)
        {
            <tr>
                <td class="table-active">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="table-active">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="table-active">
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td class="table-active">
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
            </tr>
        }
    </tbody>
</table>
<h2>Modules</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Modules[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modules[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modules[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modules[0].EndDate)
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.Modules)
        {
            <tr>
                <td class="table-active">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="table-active">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="table-active">
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td class="table-active">
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
            </tr>
        }
    </tbody>
</table>
<h2>Activities</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LmsActivities[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LmsActivities[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LmsActivities[0].EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LmsActivities[0].Documents)
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.LmsActivities)
        {
            <tr>
                <td class="table-active">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="table-active">
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td class="table-active">
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td class="table-active">
                    @Html.DisplayFor(modelItem => item.Documents)
                </td>
            </tr>
        }
    </tbody>
</table>
<h2>Documents</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Documents[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documents[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documents[0].PersonId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documents[0].TimeStamp)
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.Documents)
        {
            <tr>
                <td class="table-active">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="table-active">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="table-active">
                    @Html.DisplayFor(modelItem => item.PersonId)
                </td>
                <td class="table-active">
                    @Html.DisplayFor(modelItem => item.TimeStamp)
                </td>
            </tr>
        }
    </tbody>
</table>

