@model MMTP_LMS.ViewModels.AdminViewModel

<div>

    <dl class="row"></dl>
</div>
<div id="todays_header" class="thestyle">
    <h1>System stats !</h1>
    <span class="doc_counter">Number of courses : @ViewBag.CourseCount</span>
    <span class="doc_counter">Number of modules : @ViewBag.ModuleCount</span>
    <span class="doc_counter">Number of activities : @ViewBag.LmsActivityCount</span>
    <span class="doc_counter">Number of docummets : @ViewBag.DocCount</span>
    <span class="doc_counter">Number of sudents : @ViewBag.StudentCount</span>
</div>

